/*****Styles*****/

.dark-mode {
  background-color: #090909;
  color: white;
}

.section-title {
  margin-top: 1.5rem;
  font-weight: bold;
}

body {
  font-family: "Montserrat", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-Bold", sans-serif;
}

/*p {
  color: #fff;
}*/

/* Headings */
.big-heading {
  font-family: "Montserrat-Black", sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

.sidebar {
  position: sticky;
  top: 0;
  padding-top: 1rem;
}

.timeline {
  position: relative;
  max-width: 900px;
  margin: 0 auto;
}

.timeline::before {
  content: '';
  position: absolute;
  width: 4px;
  background-color: #8cc9e0;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -2px;
}

.timeline-container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

.timeline-container::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  left: 45%;
  background-color: #8cc9e0;
  border: 2px solid #ffffff;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.right {
  left: 50%;
}

.left {
  left: 0;
}

.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid #8cc9e0;
  border-width: 10px 10px 10px 0;
  border-color: transparent #8cc9e0 transparent transparent;
}

.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid #8cc9e0;
  border-width: 10px 10px 10px 0;
  border-color: transparent transparent transparent #8cc9e0;
}

.timeline-container h3, .timeline-container h4 {
  margin-top: 0;
}

@media (max-width: 767px) {
  .timeline::before {
    left: 31px;
  }

  .timeline-container {
    width: 100%;
    padding-left: 50px;
    padding-right: 25px;
  }

  .timeline-container::before {
    left: 60px;
    border: medium solid #8cc9e0;
    border-width: 10px 10px 10px 0;
    border-color: transparent #8cc9e0 transparent transparent;
  }

  .left, .right {
    left: 0;
  }
}

/* Buttons */
.download-button {
  margin: 5% 3% 5% 0;
}


/* Title Section */
#title {
  background-color: #009933;
  color: #fff;
  text-align: left;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}

/* Title Image */
.title-image {
  width: 60%;
  /* Uncomment the following lines if you want to apply rotation and position styles
  transform: rotate(25deg);
  position: absolute;*/
  right: 30%;
}

/* Uncomment the following section if you want to apply styles for the Features section
/* Features Section */
/* #features {
  position: relative;
}

.feature-title {
  font-size: 1.5rem;
}

.feature-box {
  padding: 4.5%;
}

.icon {
  color: #3cfc93;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #19b03c;
} */

/*****CONTAINERS*****/
.container-fluid {
  padding: 7% 15%;
}

/* SECTIONS */
.colored-section {
  background-color: #090909;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/******BUTTONS*****/
.btn {
  background: #000000;
  background-image: -webkit-linear-gradient(top, #000000, #adadad);
  background-image: -moz-linear-gradient(top, #000000, #adadad);
  background-image: -ms-linear-gradient(top, #000000, #adadad);
  background-image: -o-linear-gradient(top, #000000, #adadad);
  background-image: linear-gradient(to bottom, #000000, #adadad);
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px;
  font-family: "Monospace", monospace;
  color: #ffffff;
  font-size: 14px;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
}

.btn:hover {
  background: #090909;
  background-image: -webkit-linear-gradient(top, #ffff00, #999900);
  background-image: -moz-linear-gradient(top, #ffff00, #999900);
  background-image: -ms-linear-gradient(top, #ffff00, #999900);
  background-image: -o-linear-gradient(top, #ffff00, #999900);
  background-image: linear-gradient(to bottom, #ffff00, #999900);
  text-decoration: none;
}

/* Footer Section */
#footer {
  background-color: #009933;
  color: #fff;
}

.social-icon {
  margin: 20px 10px;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}
